
<section class="panel">
    <a href="{{post.url}}">
        <div class="header" style="background-image: url({{post.image}});">
            &nbsp;
            {% if post.current %}
                <div class="current">
                    Active
                    <img src="{{ 'assets/images/current_project.png' | relative_url }}"/>
                </div>
            {% endif %}
        </div>
        <h3 class="header-title">{{post.title}}</h3>
    </a>
        <div class="description">
            {{post.summary}} <a href="{{post.url}}">Read more...</a>
        </div>
</section>
