<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-8 col-d-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title | markdownify}}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description | markdownify }}</p>
        </div>

      </div>
      <div class="col col-4 col-d-12 image">
        <img src="./assets/images/2021_3x2_medres.jpg" width="100%" class="profile-image" alt="Ben Howes"/>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
