---
layout: default
---

{% assign about = site.pages | where: "title", "About" | first %}
{% assign projects =  site.projects | sort: 'weight' %}
{% assign posts =  site.posts | sort: 'date' | reverse %}

<section class="profile">
   <div class="image">
    <img src="./assets/images/2021_3x2_medres.jpg" width="309px" class="profile-image" alt="Ben Howes"/>
   </div>
   <div class="content">{{about.content}}</div>
</section>

{% if posts.size > 0 %}
    <h2>Writing</h2>

    <section>
        {% for post in posts %}
            {% include blog_summary.html %}
        {% endfor %}
    </section>
{% endif %}

<h2>Projects</h2>
<section>
    <div class="panel-group">
        {% for post in projects %}
            {% include panel.html %}
        {% endfor %}
    </div>
</section>
